<h2>This is Home Page!</h2>
{{#if user}}

    <h1> Welcome {{user.username}} </h1>

    {{#if user.bio}} 
        {{user.bio}}
    {{/if}}

    <a href="/u/{{user.username}}">Your Profile</a>
    <a href="/make-post">Write a Story!</a>

{{else}}

    <a href="/register">Register</a>
    <a href="/login">Login</a>

{{/if}}