{{#if user}}
    <nav>
        <a href="/following">Following</a>
        <a href="/discover">Discover</a>
        <a href="/search">Search</a>
        <a href="/you">You</a>
    </nav>
{{/if}}

{{#if user}}

    <h1> Welcome {{user.username}} </h1>

    {{#if user.bio}} 
        {{user.bio}}
    {{/if}}
    
    <a href="/u/{{user._id}}">Your Profile</a>
    <a href="/make-post">Write a Story!</a>

{{else}}

    <a href="/register">Register</a>
    <a href="/login">Login</a>

{{/if}}