<form method="post" action="" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="title" required>
    <textarea name="content" placeholder="Write your story!" required></textarea>
    <input type="file" name="images" multiple="multiple">
    <input type="text" name="location" placeholder="Where?">
    <input type="submit" value="Post">
</form>