{{#if error}}
    {{error}}
{{/if}}

<form method="post" action="">
    <input type="text" name="username" value="{{user.username}}" required>
    <textarea name="bio" rows="4" cols="50">{{user.bio}}</textarea>
    <input type="password" name="pw">
    <input type="submit" value="Edit Profile">
</form>

<a href="/{{user.username}}/delete">Delete Account</a>